<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="{% url 'insertdata' %}" method="post">
            {% csrf_token %}
            <h3>Name : </h3>
            <input type="text" name="fname"><br>
            <br>
            <input type="submit" value="Insert">
        </form>
    </center>
</body>
</html>