<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Ticket No </th>
            </tr>
        </thead>
    
        {% if key1 %}
        <tbody>
            {% for i in key1 %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.Mname}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        
    </table>
</body>
</html>

<!-- <h1>Show Page</h1> -->